*{
margin:0;
padding:0;
}
body,html{
width:100%;
height:100%;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    text-align: center;
    padding: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    gap: 20px;
}
.container__inputs{
        display: flex;
        flex-direction: column;
        border: 0.5px solid rgb(222, 218, 218);
        width: 20%;
        height: 40px;
        background-color: rgb(200, 236, 236);
        padding: 10px 15px;
        gap: 10px;
        border-radius: 10px ;

}
.container__inputs input{
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 236, 236);
    padding: 5px 1px;

    overflow: hidden;
}

button{
    padding: 10px 5px;
    border: 0;
    outline: 0;
    background-color: rgb(200, 236, 236);
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

